.exercise-add-form {
  display: flex;
  background-color: #FAFAFA;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 10px;
}
  
.exercise-add-form input {
  flex: 1;
  outline: none;
  transition: all .2s;
}
  
.exercise-add-form input:focus {
  border: 1px solid #764abc;
}

.exercise-add-form button {
  margin-left: 10px;
}